#banner{
    background-image: url(../img/banner4.jpg);
    background-size: cover;
    padding: 20% 2%;
    position:relative;
    z-index:1;
    background-attachment: fixed;
}

#banner::after{
    content: '';
    position:absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    opacity:0.55;
    z-index:-1; 
}

#banner h1{
    color:white;
    position:relative;
    font-size:4rem;
}

.bg-dark{

    background-color:transparent !important;
}

.zoom{
    overflow: hidden;
}

.zoom img{
    transition: 0.5s ease;
}

.zoom:hover img{
    transform: scale(1.5);
}
.zoom2{
    overflow: hidden;
}

.zoom2 img{
    transition: 0.5s  filter 1s ease;
    filter: grayscale(100%) ;
}

.zoom2:hover img{
    filter: grayscale(0) ;
    transform: scale(1);
}
.descripcion{
    font-family: 'Pacifico', cursive;
    font-size:20px ;
}
 .fondoicono{
     color: black;
 }

 .fondo2{
     background-color:yellow ;
     
     
 }
 .fondoFooter{
    background-color:yellow;
   
}
.letra{
    font-family: 'Lobster', cursive;
}