<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/estilosRegistro.css">
    <title>Simpons</title>
   
</head>
<body class="bg-dark  letra">
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Simpons</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="registro.html">Regristro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="pagina2.html">GIF</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="logi.html">login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <section>
    <!-- Modal -->
<div class="modal fade" id="mensaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro De Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Exito Registrando Usuario</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
  </section>
  <main class="text-white">
      <div class="container letra ">
          <div class="row">
              <div class="col-5">

                <img src="../img/thesimpsons.png" alt="Simpons" class="img-fluid w-100">
              </div>
              <div class="col-4">
                  <form  id="formulario">
                      <h2>REGISTRATE</h2>
                   <div class="mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombreUsuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="correoUsuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña </label>
                    <input type="password" class="form-control" id="password1">
                </div>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" id="botonEnvio">Enviar</button>
                </div>


                  </form>
              </div>
          </div>
      </div>

  </main>
  <footer class="letra">
    <h1 class="text-center">VALENTINA ALVAREZ ZEA &copy;</h1>

 <h3 class="text-center">Todos los derechos reservados &copy; </h3>
  </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3675f85246.js" crossorigin="anonymous"></script>  
    <script src="../scripts/controladorRegristo.js"></script>
</body>
</html>