<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simpons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Simpons</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="registro.html">Regristro</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <main>
      <div class="container">
          <div class="row">
              <div class="col-5">

                <img src="../img/thesimpsons.png" alt="Simpons" class="img-fluid w-100">
              </div>
              <div class="col-4">
                  <form >
                      <h2>REGISTRATE</h2>
                   <div class="mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombreUsuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo:</label>
                    <input type="password" class="form-control" id="correoUsuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha nacimiento</label>
                    <input type="date" class="form-control" id="fechaUsuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Numero contacto</label>
                    <input type="number" class="form-control" id="contactoUsuario" placeholder="(+57)xxx-xxxxxxx">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña </label>
                    <input type="number" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirma Contraseña</label>
                    <input type="number" class="form-control" id="password" >
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" id="botonEnvio">Enviar</button>
                </div>


                  </form>
              </div>
          </div>
      </div>

  </main>
  <footer>
 <h1 class="text-center">Todos los derechos reservados &copy; </h1>
  </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3675f85246.js" crossorigin="anonymous"></script>  
    <script src="../scripts/controladorRegristo.js"></script>
</body>
</html>